body,h1,h2,h3,ul,ol,li{
	margin: 0;
	padding: 0;
}
ul,ol,li{
	list-style: none;
}
body{
	background: #f1f1f1;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #333;
}
header{
	border-bottom: 1px solid #ccc;
	background: #fff;
	display: flex;
}
nav>ul{
	display: flex;
}
nav>ul>li{
	font-size: 20px;
	padding: 0 10px;
}
header li{
	padding-right: 30px;
	line-height: 50px;
}
.logo{
	line-height: 50px;
	padding: 0 30px;
}
.logo a:hover{
	color: #fab;
}
footer{
	padding: 10px 0;
	font-size: 12px;
}
footer,footer a{
	color: #999;
}
main>h2{
	margin-top: 25px;
}
.works{
	display: flex;
	justify-content: center;
}
.works .item{
	width: 400px;
	margin: 10px;
}
.item>a{
	display: block;
	padding: 10px;
	color: #000;
	background: #fff;
}
.item>a:hover{
	background: #fad;
	color: #fff;
}
.item h3{
	color: #ED4C67;
}
.item img{
	width: 100%;
}
.coding{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.coding li{
	width: 200px;
	padding: 10px;
	margin: 10px;
	background: #fff;
	border-radius: 4px;
}
.coding a{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-decoration: none;
}
.coding a:hover{
	color: #fd00ca;
}
.avatar{
	margin-top: 20px;
}
.avatar img{
	border-radius: 50%;
	width: 180px;
	border: 8px solid #f4d;
}
.about{
	background: rgba(105,236,255,.3);
	margin: auto;
	width: 500px;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	border-radius: 20px;
	text-align: left;
	padding: 10px 0 10px 40px;
}
.about p{
	font-size: 18px;
}
.info{
	font-size: 18px;
}
.wlist{
	flex-wrap: wrap;
}
.wlist .item img{
	width: 100%;
	height: 380px;
	object-fit: cover;
}
@media screen and (max-device-width: 767px){
	.works{
		flex-wrap: wrap;

	}
	.item>a,.item img{
		border-radius: 4px;
	}
	.wlist .item img{
	height: auto;
	object-fit: fill;
	}
	.about{
		width: 360px;
		border-radius: 6px;
		padding-left: 20px;
	}

}